h1 {
  text-align: center;
}
#Chickenheader{
  font-weight: bold;
  border-style: solid;
  border-width: 0px 0px 2px 2px;
  border-color: black;
  float:right;
  padding:3px 30px 3px 30px;
  background-color: pink;
  color : black;
}

#Beefheader{
  font-weight: bold;
  border-style: solid;
  border-width: 0px 0px 2px 2px;
  border-color: black;
  float:right;
  padding:3px 30px 3px 30px;
  background-color: red;
  color : white;
}
#Sushiheader{
  font-weight: bold;
  border-style: solid;
  border-width: 0px 0px 2px 2px;
  border-color: black;
  float:right;
  padding:3px 30px 3px 30px;
  background-color:#ff9900;
  color : black;
}

#Chicken {
  height: 130px;
 border-style: solid;
  border-width: 2px;
  width: 30%;
  background-color: gray;
  display:inline-block;
position: relative;
margin-right: 2%;
float:left;
padding:0px 0px 0px 10px;
}
#Beef {
  height: 130px;
  border-style: solid;
  border-width: 2px;
  width: 30%;
  background-color: gray;
  display:inline-block;
position: relative;
margin-right: 2%;
float:center;
padding:0px 0px 0px 10px;
}
#Sushi {
  height: 130px;
  border-style: solid;
  border-width: 2px;
  width: 30%;
  background-color: gray;
  display:inline-block;
position: relative;
margin-right: 2%;
float:right;
padding:0px 0px 0px 10px;
}

