* {
	box-sizing: border-box;
}

body {
	font-size: 18px;
	font-family: sans-serif;
	padding-top: 0;
}

#header-nav {
	background-color: gray;
	border-radius:0;
	border: 0;
	padding-bottom: 10px;
	border-bottom: 2px solid black;
}
.navbar-brand {
	padding-top: 15px;
	padding-left: 0px;
	overflow: visible;

}
.navbar-brand h1 {
	font-family: sans-serif;
	color: black;
	text-transform: uppercase;
	text-transform: 1px  1px 1px #222;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0;
	line-height: .75;
	
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#collapsable-nav {
	width: 100%;
	background-color: white;
	margin-top: -30px;
    color: black;
    text-decoration: none;

}

#collapsable-nav li {
	color: black;
	border-bottom: 1px solid black;
	text-align: center;
	font-weight: bold;

}

.container {
	margin-left: 40px;
	padding-top: 10px;

}



h1 {
	color: black;
	font-weight: bold;
}

h3 {
	padding-top: 0px;
	margin-top: 4px;

}

#main-content {
	margin: auto;
}

.items {
	background-color: gray;
	margin-top: 0px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;

}

div .col-xs-12 {
	padding-top: 0px;
}

#nav-list {
	border: 1px solid black;
}

a {
	color: black;
	text-decoration: none;
}